dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.js_hi
*.js_o
*~
tags
TAGS
data.js
programs.*
clusters.*

**/Main.jsexe/all.js
**/Main.jsexe/out.js
**/Main.jsexe/out.stats
**/Main.jsexe/lib.js
**/Main.jsexe/rts.js
**/Main.jsexe/runmain.js
**/Main.jsexe/manifest.webapp
